body {
  max-width: 200rem;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 35px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  line-height: 38px;
}

img {
  max-width: 100%;
  height: auto;
}

.ds-flex {
  display: flex;
}

ul.ds-flex {
  list-style: none;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

footer li {
  display: inline-block;
}

.ds-flex li {
  background-color: gray;
  padding: 20px;
  font-size: 19px;
  font-weight: bold;
}

.grid-center {
  width: 80%;
  height: 80px;
  align-items: center;
}

.nav-bar {
  background-color: black;
  color: white;
  padding: 0 30px 0 30px;
  border-radius: 4px;
}

.logo-header {
    width:50px;
    height:auto;
}

.title-h1 {
  color: black;
  position: absolute;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-style: oblique;
  text-align: center;
  line-height: 50px;
}

.color-br {
  background-color: white;
  padding: 0 30px 0 30px;
  border-radius: 4px;
}

.ds-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-self: center;
}

.grid-container {
  height: 40rem;
}

.grid-container-low {
  height: 35rem;
}

.padding-header {
  padding: 200px 20px;
}

.padding-low {
  padding: 80px 40px;
}

.container-1,
.container-4 {
  background-color: dimgray;
}

.container-2 {
  background-color: darkgray;
}

.container-3 {
  background-color: lightgray;
  padding: 0 20px;
}

.container-text {
  color: white;
  width: 70%;
  height: 30px;
  margin: 0 50px 0 50px;
}

.img-writer img {
  border-radius: 11%;
  border: 4px solid white;
  width: 20%;
  margin-right: 2rem;
  transform: rotate(-15deg);
}

.comment-header {
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  vertical-align: 5px;
  margin-left: 20px;
}

.comment-header h2 {
  line-height: 20px;
}

.comment-header i {
  margin-right: 15px;
}

.mrg-right {
  margin: 20px;
}

.coming-links {
  border: 1px;
}

.latest-post {
  grid-template-columns: auto auto auto;
  display: grid;
  width: 100%;
  margin-bottom: 20px;
}

.latest-post-item {
  background: white;
  margin: 1px;
  height: 400px;
}

.small-title-latest-one {
  width: 20%;
  margin: 10px;
  background: lightslategray;
  height: 15px;
}

.title-latest-one {
  width: 80%;
  margin: 10px;
  background: black;
  height: 30px;
}

.subtitle-latest-one {
  width: 50%;
  background: gray;
  height: 25px;
  margin: 10px;
}

.content-latest-one {
  margin: 10px;
}

footer p {
  text-align: center;
}

.content-latest-one p {
  height: 20px;
  margin-top: 2px;
  background: lightgray;
}

.inside-latest-post {
  width: 100%;
  display: grid;
  grid-template-columns: 33.3% 66.6%;
  margin-bottom: 20px;
}

.inside-latest-left {
  background: white;
  margin: 1px;
}

.inside-latest-left p {
  background: lightgray;
  width: 40%;
  height: 15px;
  margin: 10px auto;
}

.inside-sign-up {
  border-radius: 25px;
  border: 1px solid gray;
  margin: 10px;
  height: 200px;
  background: lightgray;
}

.inside-latest-right {
  background: white;
  margin: 1px;
}

.inside-latest-right-box {
  border-radius: 25px;
  border: 1px solid gray;
  margin: 10px;
  height: 500px;
  background: lightgray;
}

.middle {
  width: 100%;
  background: lightgray;
  margin: 50px 0;
  padding: 50px 0;
}

.middle h3 {
  text-align: center;
  padding: 50px;
}

.middle p {
  text-align: center;
  background: lightslategray;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.middle h2 {
  text-align: center;
  background: gray;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.middle-btn {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.middle-photo {
  width: 600px;
  height: 300px;
  background: black;
  margin: 0 auto;
}

.community-links {
  background: lightgray;
  margin: 50px 0;
  padding: 50px 0;
}

.community-links-first {
  width: 100%;
  background: lightgray;
  display: grid;
  grid-template-columns: 20% 80%;
}

.first-photo {
  background: black;
  transform: rotate(-15deg);
  height: 200px;
  width: 200px;
  margin: 30px;
}

.first-content {
  margin: 10px;
}

.first-content h3 {
  background: gray;
  width: 300px;
}

.first-content p {
  background: gray;
}

.community-link {
  display: grid;
  grid-template-columns: 50% 50%;
  background: lightgray;
}

.community-link-item {
  display: grid;
  grid-template-columns: 20% 75%;
  background: gray;
  margin: 10px;
}

.community-link-photo {
  width: 70px;
  height: 70px;
  background: black;
  transform: rotate(-15deg);
  margin: 30px;
}

.before-book h3 {
  text-align: center;
  padding: 50px;
}

.book {
  background: lightslategray;
  width: 100%;
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.book-content {
  width: 80%;
  padding: 20px;
}

.book-photo {
  width: 150px;
  height: 200px;
  background: black;
  transform: rotate(-15deg);
}

.our-guides {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.guide {
  background: gray;
  padding: 20px;
  height: 500px;
  margin: 20px;
}

footer {
  padding: 20px 0;
  background: lightslategray;
}

footer ul {
  background: gray;
  text-align: center;
  list-style-type: disc;
  list-style-position: inside;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

footer li::before {
  content: "•";
  margin: 0 0.25em 0 0.25em;
  display: inline-block;
}

.copywrite {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background: gray;
}

.copywrite p {
  width: 33.3%;
}

.foot-figure {
  width: 100px;
  height: 100px;
  background: black;
}
